<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<!--<mat-horizontal-stepper [linear]="isLinear" #stepper>-->
<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="projectFormGroup.get('projectName', 'projectDescription')">
    <form [formGroup]="projectFormGroup">
      <ng-template matStepLabel>Fill out project details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Project name" formControlName="projectName" required>
      </mat-form-field>
      <div class = "row">
        <mat-form-field>
          <input matInput placeholder="Project description" formControlName="projectDescription" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dataFormGroup.get('group')">
    <form [formGroup]="dataFormGroup">
      <ng-template matStepLabel>Fill out package details</ng-template>
      <div class="row">
      <mat-form-field>
        <input matInput placeholder="Group" formControlName="group" required>
      </mat-form-field>
      </div>
<!--      <mat-checkbox formControlName="springBoot">
        Spring
      </mat-checkbox>
        <mat-checkbox formControlName="flyway">
          Flyway
      </mat-checkbox>-->
      <div class="row-md-2">
      <mat-form-field>
        <mat-select placeholder="Java Version" formControlName="sourceCompatibilityJavaVersion" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let java of javaVersions" [value]="java">{{java}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="serviceFormGroup">
    <form [formGroup]="serviceFormGroup">
      <ng-template matStepLabel>Fill out service data handling details</ng-template>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Data type" formControlName="dataPrimaryType" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <textarea matInput placeholder="Json string" formControlName="jsonString" required style="height: 160px"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Primary key" formControlName="primaryKey" required>
        </mat-form-field>
      </div>
        <mat-form-field>
          <mat-select placeholder="Primary key type" formControlName="primaryKeyType" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of primaryKeyType" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="databaseFormGroup">
    <form [formGroup]="databaseFormGroup">
      <ng-template matStepLabel>Fill out database details</ng-template>
      <div class="row">
        <mat-form-field>
          <mat-select placeholder="Sql Dialect" formControlName="databaseDriverClassName" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of databaseDriverclassNameOptions" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class ="row">
        <mat-form-field>
          <input matInput placeholder="Database URI" formControlName="databaseUri" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Database username" formControlName="databaseUsername">
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput placeholder="Database password" formControlName="databasePassword">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <br>
    <br>
    You are done.
    <br>
    <br>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click) ="doDownload()">Download</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
