<div class="custom-p">
  <h2>We're the grunts who say: NO, to boilerplate code!</h2>
  We need to agree to some terms, such that you understand me.
  <br>Following steps are needed in-order to download your working gradle project using spring-boot and mariadb.
  <br>
  <mat-card>
    <mat-card-title>Steps</mat-card-title>
    <ol>
      <li>Fill out project details.</li>
      <li>Fill out package details.</li>
      <li>Fill out service data.
        <ol type="a">
          <li>Data type means the data type which describes your json data in one word, which will be used as main
            domain
            object.
          </li>
          <li>
            Json string doesn't support json arrays yet
          </li>
          <li>Primary key, is the key in your json which uniquely identifies your data type.</li>
          <li>Primary key type, is your primary key a number?: Long, is your primary key text?: String.</li>
        </ol>
      </li>
      <li>
        Fill in, if you wish, mariadb specific database details. I haven't made support for any other database type.
        <ol type="a">
          <li>If you didn't fill in database details, do so after next step inside your application.yaml properties
            file
          </li>
        </ol>
      </li>
      <li>
        Download, unzip, and run gradle bootRun where you unzipped your project.
      </li>
      <li>
        I suck at front-end
      </li>
    </ol>
  </mat-card>
  <mat-card>
  <mat-card-title>Feedback</mat-card-title>
    <p>
      If you have any ideas or questions click the link below.
    </p>
  <a href="mailto:solve.johnsen@gmail.com">Send me an E-mail</a>
  </mat-card>
  <mat-card>
    <mat-card-title>About me</mat-card-title>
    <p>
      My name is Sølve René Stålem, I'm 34, and I live and work in Hamar, Norway. I'm a Java-backend codegrunt who
      enjoys
      epiphanies, coffee, meaningful discussions which might also include weather,
      if by weather we're talking about "how's" and "why's", not observations of the previous, current and future
      situations regarding weather then I'm your guy. I don't just accept my surroundings without accumulating the
      knowledge of "why".
      If you like "why" then go ahead and watch this Tedx talk, I love this guy: <a
      href="https://www.youtube.com/watch?v=u4ZoJKF_VuA">Simon Sinek's why</a>
    </p>
  </mat-card>
</div>

